---

---

<div class="my-20 max-w-6xl px-4 sm:mx-auto">
    <h2 class="mb-6 flex gap-2 text-3xl font-bold tracking-tight">
        Scholarship Highlights
    </h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
        <div
            class="flex flex-col items-center rounded-lg border-b-4 border-primary bg-primary/20 p-6"
        >
            <div class="text-6xl font-bold text-neutral-800">25%</div>
            <div class="mt-2 text-center font-medium text-neutral-700">
                Tuition Fee Waiver for Hill State Candidates
            </div>
        </div>
        <div
            class="flex flex-col items-center rounded-lg border-b-4 border-primary bg-primary/20 p-6"
        >
            <div class="text-6xl font-bold text-neutral-800">
                <span
                    class="align-top font-serif text-xl font-medium tracking-tighter italic"
                >
                    Upto
                </span>{" "}
                70%
            </div>
            <div class="mt-2 text-center font-medium text-neutral-700">
                Merit Based Scholarships
            </div>
        </div>
        <div
            class="flex flex-col items-center rounded-lg border-b-4 border-primary bg-primary/20 p-6"
        >
            <div class="text-6xl font-bold text-neutral-800">
                <span
                    class="align-top font-serif text-xl font-medium tracking-tighter italic"
                >
                    Upto
                </span>{" "}
                10%
            </div>
            <div class="mt-2 text-center font-medium text-neutral-700">
                Additional Scholarship for Female Candidates
            </div>
        </div>
        <div
            class="flex flex-col items-center rounded-lg border-b-4 border-primary bg-primary/20 p-6"
        >
            <div class="text-6xl font-bold text-neutral-800">
                <span
                    class="align-top font-serif text-xl font-medium tracking-tighter italic"
                >
                    Upto
                </span>{" "}
                5%
            </div>
            <div class="mt-2 text-center font-medium text-neutral-700">
                Tuition Fee Waiver for Wards of Defence Personnel
            </div>
        </div>
    </div>
</div>
