---
import ChevronDoubleRightIcon from "../../assets/icons/chevron-double-right.svg";
---

<div
    class="sm:bg-opacity-50 md:bg-opacity-10 fixed top-0 right-0 left-0 z-50 border-b-2 border-secondary bg-secondary-dark text-black sm:absolute sm:border-none sm:text-white"
>
    <div
        class="hidden max-w-6xl items-center justify-center gap-8 px-2 py-2 font-medium sm:mx-auto md:flex"
    >
        Applications Closing Soon | Apply Now
    </div>
    <div
        class="flex max-w-6xl items-center justify-center gap-8 px-2 py-2 font-medium sm:mx-auto md:hidden"
    >
        <button
            onclick="window.scrollTo(0, 300)"
            class="flex items-center gap-2 text-primary transition-transform hover:scale-105"
        >
            <img src={ChevronDoubleRightIcon.src} class="h-5 w-5" />
            Apply Now
        </button>
    </div>
</div>
