---
import "../styles/global.css";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/lp/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Google tag (gtag.js) (Ads) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=AW-813011093"
        ></script>
        <script lang="javascript" type="text/javascript" is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "AW-813011093");
        </script>

        <!-- Google tag (gtag.js) (Analytics) -->
        <script
            async
            is:inline
            src="https://www.googletagmanager.com/gtag/js?id=G-BJ63CSB37B"
        ></script>
        <script lang="javascript" type="text/javascript" is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-BJ63CSB37B");
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
