---
import "../styles/global.css";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/lp/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Google tag (gtag.js) (Ads) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=AW-813011093"
        ></script>
        <script lang="javascript" type="text/javascript" is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "AW-813011093");
        </script>

        <!-- Google tag (gtag.js) (Analytics) -->
        <script
            async
            is:inline
            src="https://www.googletagmanager.com/gtag/js?id=G-BJ63CSB37B"
        ></script>
        <script lang="javascript" type="text/javascript" is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-BJ63CSB37B");
        </script>

        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "rmfizvhs3b");
        </script>

        <!-- Meta Pixel Code -->
        <script>
            !(function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod
                        ? n.callMethod.apply(n, arguments)
                        : n.queue.push(arguments);
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = "2.0";
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s);
            })(
                window,
                document,
                "script",
                "https://connect.facebook.net/en_US/fbevents.js",
            );
            fbq("init", "622050542066962");
            fbq("track", "PageView");
        </script>
        <noscript
            ><img
                height="1"
                width="1"
                style="display:none"
                src="https://www.facebook.com/tr?id=622050542066962&ev=PageView&noscript=1"
            /></noscript
        >
        <!-- End Meta Pixel Code -->
    </head>
    <body>
        <slot />
    </body>
</html>
