---
import Footer from "../components/base/Footer.astro";
import ScrollToTop from "../components/base/ScrollToTop.tsx";
import TopLine from "../components/base/TopLine.astro";
---

<main>
    <ScrollToTop client:idle />
    <TopLine />

    <slot />

    <Footer />
</main>
